{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": false,
			"importAssertions": true,
			"dts": false
		},
		"baseUrl": ".",
		"paths": {
			"@shared/*": ["./src/shared/*"],
			"@models/*": ["./src/infra/db/typeorm/models/*"], // update this according to the orm
			"@app/*": ["./src/app/*"],
			"@common/*": ["./src/common/*"],
			"@domain/*": ["./src/domain/*"],
			"@infra/*": ["./src/infra/*"],
			"@web/*": ["./src/web/*"]
		}
	}
}